body {
	height:100%;
}
.content{
/*	padding-top:50px;*/
}
.title {
	padding-top: 30px;
}
.title h1{
	font-size:500%;
	color:#ccc;
}
.subhead img{
	margin-bottom:30px;
	display:block;
}
.nav-container{
	position:relative;
}
ul.nav{
	padding-top:10px;
}
section{
	margin-top:60px;
	clear:both;
	display:block;
}
li code{
	margin-bottom:10px;
}
.page-header {
	
	padding-bottom: 17px;
	margin: 18px 0;
	border-bottom: 1px solid #EEE;
	clear:both;
}
#home{
	display:block;
	/*height:20px;*/
}
.jumbotron h1 {
	margin-bottom: 9px;
	font-size: 81px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}
/*.first{
	margin-top:30px;
}*/
.jumbotron p {
	margin-bottom: 10px;
	font-weight: 300;
	line-height: 27px;
	font-size: 20px;
}
h1 small {
  font-size: 18px;
}
h3{
	line-height: 27px;
	font-size: 18px;
}
.year{
	margin-top:18px;
}
.year h2{
	line-height: 46px;
	font-size:60px;
	color:#ccc;
}
.footer {
	margin-top: 80px;
	padding: 35px 0 36px;
	border-top: 1px solid #E5E5E5;
}
.left-nav{
	padding-left:10px;
	background:#fff;
	text-align:right;
}
.nav-list > li > a {
text-shadow:none;
}
ul.social{
		padding-left:0;
		margin: 0px;
		margin-top:10px;
}
.social li{
	text-decoration:none;
	list-style:none;
	margin-left:0;
	margin-bottom:4px;
}
ul.social-text a{
	color:#7b7d7d;
}
.flick-stuff-v2{	
/*	margin-bottom: 48px;*/
	display:block;
	width:780px;
	clear:both;
}
img.smaller-image{
	width:58px;
	height:48px;
	float:left;

}
li span.label{
	background-color:#e1e1e1;
	text-shadow:none;
	border-radius:1px;
	font-weight:normal;
	vertical-align:baseline;
}
.tw-wording{
	vertical-align:top;

}
/*.flick-stuff-v2 img:hover{
	width:auto;
	z-index:9999;
	vertical-align:middle;
	
}*/
a.abooks:hover{
	text-decoration:none;
}
/*#flickr_badge_source_txt {padding:0; font: 11px Arial, Helvetica, sans-serif; color:#FFF;}
#flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;}
#flickr_icon_td {padding:0 5px 0 0 !important;}
.flickr_badge_image {text-align:center !important;}
.flickr_badge_image img {border: 1px solid black !important;}
#flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
#flickr_badge_wrapper {}
#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#FFF !important;}*/
