<!-- NAV BAR  ========================================================== -->

<div class="span2" style="position:fixed;top:44px;">
	<div style="nav-container">
					<ul class="nav nav-list left-nav">
						<!-- <li><a href="#home">Home</a></i> -->
						<li><a href="index.php">About Me</a></i>
						<li><a href="working.php">Working</a></i>
						<!-- <li><a href="#availability">Availability </a></i> -->
						<li><a href="contact.php">Contact</a></i>
						<li><a href="quotes.php">Quotes</a></i>
						<li><a href="books.php">Books</a></i>
						<li><a href="tools.php">Tools I Use</a></i>
					</ul>
					<ul class="nav nav-list left-nav social-text">
					<li class="divider"></li>
						<li><a href="http://clarity.fm/nvk">Clarity</a></li>
						<li><a href="http://twitter.com/nvk">Twitter</a></li>
						<li><a href="http://alpha.app.net/nvk">App.net</a></li>
						<li><a href="http://github.com/nvk">GitHub</a></li>
						<!-- <li><a href="http://plus.google.com/104013787268165996646">Google+</a></li> -->
						<li><a href="http://ca.linkedin.com/in/rodolfonovak">LinkedIN</a></li>
						<!-- <li><a href="http://angel.co/rodolfo-novak">Angle List</a></li> -->
					<!-- <li class="divider"></li>
										<li><a href="http://news.ycombinator.com/submitted?id=nvk">HackerNews</a></li>
										<li><a href="http://pinboard.in/u:nvk/from:instapaper">Instapaper</a></li>
										<li><a href="http://pinboard.in/u:nvk/public/">Pinboard</a></li> -->
					<li class="divider"></li>
						<!-- <li><a href="http://gallery.me.com/rodolfonovak#100043">Portfolio [pw]</a></li> -->
						<!-- <li><a href="http://urbanaut.me/">Photography</a></li> -->
						<!-- <li><a href="http://quandl.com/">Quandl</a></li> -->
						<li><a href="http://www.iosto.ca/">#iOSTO</a></li>
						<li><a href="http://www.uxd.io/">#UXDTO</a></li>
						<li><a href="http://www.ripeapps.com/">Ripe Apps</a></li>
					</ul>
		</div>
	<script>
	//http://css-tricks.com/favicons-next-to-external-links/
		$("a[href^='http']").each(function() {
		    $(this).css({
		        background: "url(http://www.google.com/s2/u/0/favicons?domain=" + this.hostname +
		        ") left center no-repeat",
		        "padding-left": "20px"
		    });
		});
	</script>
</div>